body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url('header1.avif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3em;
}

.buffer1 {
  height: 1rem;
}

hr {
border: 2px solid #690c80;
max-width: 65px;
margin: auto;
} 

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}   

.btn-primary {
  background-color: blueviolet;
  border-color: blueviolet;
}

.btn-primary:hover {
  background-color: #87275D;
  border-color: blueviolet;
  border-width: 4px;
}


.btn-xl {
  padding: 1rem 2rem;
}
